@{
    ViewData["Title"] = "Add/Edit Task";
}
@model Project_2_TaskApp.Models.TaskData

<div class="text-center">
    <h1 class="display-4">Add a Task</h1>
    <p>Use the form below to add a task:</p>

    <form method="post">
        <label>Task: </label>
        <input asp-for="taskName" /><br />

        <label>Due Date: </label>
        <input asp-for="dueDate" /><br />

        <label>Quadrant: </label>
        <select asp-for="quadrant">
            <option value="1">Quadrant 1</option>
            <option value="2">Quadrant 2</option>
            <option value="3">Quadrant 3</option>
            <option value="4">Quadrant 4</option>
        </select>
        <br />

        @*<label>Category: </label>
        <select asp-for="category">
            <option value="Home">Home</option>
            <option value="School">School</option>
            <option value="Work">Work</option>
            <option value="Church">Church</option>
        </select>
        <br />*@

        <label asp-for="CategoryID">Category</label>
        <select asp-for="CategoryID">
            <option value="">Category</option>
            @foreach (Category m in ViewBag.Categorys)
            {
                <option value="@m.CategoryID">@m.CategoryName</option>
            }
        </select>
        <br />

        <label>Completed (Yes/No): </label>
        <select asp-for="completed">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <br />

        <input id="submitBtn" type="submit" value="Add Task" />

        <!--Display error messages per data validation parameters-->
        <div asp-validation-summary="All"></div>

    </form>
</div>