@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The 7 Habits of Highly Effective People</h1>
    <img src="~/img/CoveysMatrix.png" />
    <br />
    <a asp-controller="Home" asp-action="AddEditTask">Add a Task!</a>
</div>
